body {
    margin: 0;
    padding: 0;

  }

  .signup-login {

    background-color: #FBEAEB;
    width: 100%;
    height: 1080px;
    overflow: hidden;
    font-size: 24px;
    color: #990011,;
    font-family: Poppins;
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  }

  .signup-box{
    background-color:#b1c3dc;
    height: 550px;
    width: 520px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);

  }
  .heading{
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 20px;


  }
  b{
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    padding: 0;
    text-align: center;
    margin-top: 20px;
  }
 .inp{
   /* margin-top: 10px; */
    margin: 10px;
    height: 50px;
    width: 500px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #020202;
    background-color: #ffffff30;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
 }
 .inp::placeholder{
    color: #d40b70;

 }
.submit-button{
    margin-top: 20px;
    margin-left: 10px;
    height: 50px;
    width: 500px;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    transition: background-color 0.15s, color 0.15s;
    background-color: rgb(29, 140, 240);
    border: 2px solid rgba(133, 13, 245, 0.5);
    box-sizing: border-box;
    cursor: pointer;
}
.submit-button:active {
    transform: scale(0.50);}

.submit-button:hover{
    background-color: #a71bf2bc;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15) ;
}
}
.line{

    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    height: 1px;
    width: 500px;
    border: none;
    background-color: #ffffff;
    border: 0px solid rgba(255, 255, 255, 0.718);
    box-sizing: border-box;

}
.anc{
    text-decoration: none;
    color: #1b8ffcbc;
    font-size: 20px;
    font-weight: 500;
    margin-left: 45%;
    padding: 0;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
}

.signup-box1{
    background-color:#76bffff5;
    height: 555px;
    width: 520px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  /* .sign{
    text-decoration: none;
    padding: 10px;
  } */

  .anca{
    font-size: 25px;
      margin-top: 7px;
      /* margin-left: -68px; */
      margin-right: -41px;
  }
  a:hover{
    color: #af0cfabc;
  }
  .heads{
    display: flex;
      justify-content: space-evenly;
  }
  .ancaa{
    font-size: 25px;
    margin-top: 29px;
    margin-left: -40px;
  }

.completed{
  color: #d40b70;
  text-decoration: line-through;
}
